@font-face {
    font-family: 'TDCNET-Regular';
    src: url('TDCNET-Regular.woff') format('woff');
}
@font-face {
    font-family: 'TDCNET-Bold';
    src: url('TDCNET-Bold.woff') format('woff');
}
body {
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'TDCNET-Regular';
    background-color:#bed7f5;
    color: #503C3C;
}

.logo img {
    height: 45px; 
    width: auto; 
}
.content-wrapper {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navigation a{
    font-size: 1.5em;
    padding-left: 10px;
    padding-right: 10px;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    font-family: 'TDCNET-Bold';
    transition: background-color 0.4s ease;  /* Transition effect for smooth color change */
}

.header:hover {
    background-color: #F0DCC8;  /* Color on hover */
}
.header a {
    text-decoration: none;
    color: #19285f;
    transition: color 0.4s ease;  /* Transition effect for smooth color change */
    margin: 10px;
}

.header a:hover {
    color: #D25555;  /* Color on hover */
}
.title {
    margin-top: 40px;
    text-align: center;
    font-family: 'TDCNET-Bold';
    font-size: 6em;
    color: #19285f;

}
.page-divider {
    margin: 20px 0;
    height: 2px;
    background: #333;
    width: 100%;
}
section {
    margin: 20px 0;
}
p{
    font-size: 22px;
    line-height: 1.4;
    margin-bottom: 0px;
    margin-top: 5px;
    

text-align: justify;
text-justify: distribute;
text-align-last: left;

}
h1{
    font-size: 40px;
    margin-bottom: 0px;
    margin-top: 0px;
}
li{
    font-size:20px;
    line-height: 1.5;
    padding: 5px;
}
dt,dl{
    font-size:20px;
    line-height: 1.5;
    padding: 5px;
}
.btm-right-container{
    display: flex;
    width: 100%;
    justify-content: right;
}
.btm-right{
    right: 0;
    bottom: 0;
    max-width: 50%; /* This limits the image width to 50% of its container */
    z-index: 1; /* This ensures the image is behind the text */
    position: relative;
}

@media screen and (max-width: 1080px) {
    /* change width to 90% for small screens */
    .content-wrapper {
        width: 90%;
    }

    /* change font-size for small screens */
    .navigation a {
        font-size: 1.2em;
    }

    .title {
        font-size: 3em;
    }
    
    /* Stack the elements vertically on small screens */
    

    /* Adjust logo and navigation layout on small screens */
    .header .logo, .header .navigation {
        margin-bottom: 20px;
    }
}